@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Anuphan&family=Archivo:ital,wght@1,100&family=Barlow+Semi+Condensed:wght@300&family=Black+Ops+One&family=Henny+Penny&family=Inter:wght@700&family=Josefin+Sans&family=Montserrat+Alternates&family=Open+Sans&family=Righteous&family=Roboto&family=Shantell+Sans&family=Stick+No+Bills&display=swap');

*{
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  
  
}
/* Homepage............ */
.app{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  
  
}
.welcome{
  color: rgb(49, 146, 30);
  font-size: 4em;
   margin-bottom: 10px;
   text-shadow: 1px 1px 5px rgb(184, 185, 185); 
}
.exclamation{
  color: rgb(27, 201, 128);
  
}
.fullName{
  color: rgb(30, 135, 143);
  
  font-size: 1.2em;
}
.position{
  color: rgb(238, 120, 130);
  font-size: 2.5em;
  margin-top: 20px;
  text-shadow: 1px 1px 5px rgb(184, 185, 185); 
  
  
}
p{
  color: rgb(70, 71, 71);
  margin-top: 30px;
  font-size: 1.5em;
  text-shadow: 1px 1px 5px rgb(184, 185, 185); 
 
}
.intro{
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 5px rgb(184, 185, 185); 
}
.mainDiv{
  margin: 20px;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-left: 0;
  gap: 350px;
  
  
}
.bgImage{
  height: 600px;
  width: 830px;
  background-image: url(https://img.freepik.com/free-vector/programmer-working-web-development-code-engineer-programming-python-php-java-script-computer_90220-249.jpg?w=1380&t=st=1686313665~exp=1686314265~hmac=c53d0bb413ff4de6b6752906bb20df6a9894261f0c524331605998aecb425117);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  right: 260px;
  z-index: -1;
  opacity: 50%;
}

.nav{
  height: 80px;
  width: 100%;
  box-shadow: 1px 1px 5px rgb(184, 185, 185);
  font-size: 1.3em;
 

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  
  
}
.footer{
 
  box-shadow: 1px 1px 5px rgb(184, 185, 185);
  font-size: 1.2em; 

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  
}
.grow {
  flex-grow: 1;
}
.navigateBtn{
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin:7px;
  font-size: 1.5em;
  background-color: transparent;
  
  
}
.image{
  height: 250px;
  width: 250px;
  border-radius: 20px ;
  background-image: url(./assets/Thushara.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 5px rgb(184, 185, 185);
  
}
.imageWrapper{
  width: 40%;
  height: 300px;
  width: 300px;
  border-radius: 20px ;
  border: 1px solid rgb(233, 236, 236);
  box-shadow: 1px 1px 5px rgb(184, 185, 185);
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeDetails{
  margin: 30px;
  width: 30%;
  padding: 20px;
  box-shadow: 1px 1px 5px rgb(184, 185, 185);
  border-radius: 20px;
  margin-bottom: 50px;
  
}

.photoButton{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.cvBtn{
  width: 300px;
  height: 50px;
  border-radius: 20px;
  background-color: rgb(243, 126, 141);
  box-shadow: 1px 1px 5px rgb(184, 185, 185);
  font-size: 1.5em;
  color: rgb(248, 248, 248);
  text-shadow: 1px 1px 5px rgb(184, 185, 185); 
  
}
button:hover{
  cursor: pointer;
  background-color: transparent;
  color: rgb(243, 126, 141);
  
}
.icons:hover{
  box-shadow: 1px 1px 5px rgb(184, 185, 184);
  background-color: rgb(237, 250, 239);
  border-radius: 5px;
}
.navigate{
  display: flex;
  flex-direction: column;
}
.navComponent {
  display: none;
}
.icons {
  position: relative;
}
.box{
  position: absolute;
  top: 80px;
  text-shadow: 1px 1px 5px rgb(184, 185, 185); 
  color: rgb(72, 73, 73);
  
}