@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Anuphan&family=Archivo:ital,wght@1,100&family=Barlow+Semi+Condensed:wght@300&family=Black+Ops+One&family=Henny+Penny&family=Inter:wght@700&family=Josefin+Sans&family=Montserrat+Alternates&family=Open+Sans&family=Righteous&family=Roboto&family=Shantell+Sans&family=Stick+No+Bills&display=swap');

*{
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  
  
}
/* page1............ */
.app{
  background-image: url(./assets/thushara.JPG);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome{
  color: rgb(27, 175, 201);
  font-size: 3em;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
}
.exclamation{
  color: rgb(27, 201, 128);
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
}
.fullName{
  color: rgb(243, 49, 65);
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  font-size: 1.2em;
}
.position{
  color: rgb(27, 201, 70);
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
}
p{
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
}
.intro{
  color: white;
}
.mainDiv{
  margin-top: 300px;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
   padding: 20px; 
}

.nav{
  height: 100px;
  width: 100%;
  background-color: rgb(141, 170, 87);
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
 
}
a{
  text-decoration: none;
  color: white;
  margin:7px;
  font-size: 1.1em;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}